<?xml version="1.0" encoding="UTF-8"?>
<chapter xmlns="http://docbook.org/ns/docbook" xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:xi="http://www.w3.org/2001/XInclude" xml:lang="en" xml:id="zym.acl" version="5.0">
    <title>Zym_Acl</title>
    
    <section xml:id="zym.acl.introduction">
        <title>Introduction</title>
        
        <para>
            Currently Zym_Acl only provides custom assertions.
        </para>
    </section>
    
    <xi:include href="acl/assertions.xml" />
</chapter>